<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    Нямате права да достъпите тази страница.
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Не е намерено</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Съжаляваме, но няма нищо на този адрес.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
